<h5>Acá arriba hay un link al Dashboard</h5>
<%= link_to "Dashboard", posts_dashboard_path %>
<hr>
<h1>Páginas de Posts Ingresados</h1>
<p>Acá está la lista de artículos del Blog</p>
<h6> (La palabra "color" está censurada)</h6>
<br><br>

<% @posts.each do |p|%>
<ul>
    <li><%= p.title %> </li>
    <li><%= p.created_at %> </li>
    <li><%= image_tag(p.image_url)%> </li>
    <li><%= p.content %> </li>
</ul>
<%end%>
